@charset "UTF-8";

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat-medium.woff") format("woff");
  src: url("fonts/montserrat-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-bold.woff") format("woff");
  src: url("../fonts/montserrat-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  color: #000000;
}

body._lock {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

._container {
  max-width: 1350px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.header {
  padding: 50px 0px;
}

.header__body {
  line-height: 1.3888888889;
  text-transform: uppercase;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__body-logo {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.header__body-link {
  font-weight: 700;
  position: relative;
  z-index: 5;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__body-link:hover {
  color: #4285B4;
}

.header__body-link.active {
  color: #ffffff;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-header__item:not(:last-child) {
  padding-right: 36px;
}

.menu-header__link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu-header__link:hover {
  color: #4285B4;
}

.icon-menu {
  display: none;
  position: relative;
  width: 40px;
  height: 25px;
  cursor: pointer;
  z-index: 10;
}

.icon-menu span {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  top: calc(50% - 1px);
  left: 0px;
  position: absolute;
  min-width: 30px;
  height: 2px;
  background-color: #000000;
  opacity: 1;
  visibility: visible;
}

.icon-menu span:first-child {
  top: 0;
}

.icon-menu span:last-child {
  top: auto;
  bottom: 0px;
}

.icon-menu.active span {
  background-color: #ffffff;
}

.icon-menu.active span:first-child {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.icon-menu.active span:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}

.icon-menu.active span:last-child {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.button {
  display: inline-block;
  padding: 0px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  padding: 8px 52px;
  line-height: 1.6;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  background-color: rgba(66, 133, 180, 0.1);
  overflow: hidden;
  max-width: 210px;
}

.button:hover {
  opacity: 1;
}

.button:hover::before {
  width: 100%;
}

.button:hover span {
  color: #ffffff;
}

.button::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #4285B4;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button span {
  position: relative;
  color: #4285B4;
  z-index: 100;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-slider__body {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 700px;
}

.main-slider__item {
  max-width: 700px;
  position: relative;
  z-index: 2;
}

.main-slider__dotts .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-main-slider__content {
  padding-top: 20px;
}

.item-main-slider__title {
  color: #000000;
  margin-bottom: 55px;
}

.item-main-slider__bg {
  padding-bottom: 65%;
  display: block;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dotts {
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0px auto;
  overflow: hidden;
}

.dotts li {
  font-size: 0px;
  margin: 0px 7.5px;
  cursor: pointer;
  height: 30px;
  width: 18px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.dotts li::after {
  content: "";
  height: 5px;
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  background-color: #898989;
}

.dotts li.slick-active {
  width: 30px;
}

.dotts li.slick-active::after {
  background-color: #4285b4;
}

.dotts li.slick-active::before {
  opacity: 1;
  -webkit-transition: left 3s linear 0s;
  -o-transition: left 3s linear 0s;
  transition: left 3s linear 0s;
  left: 20px;
}

.projects {
  padding-bottom: 75px;
}

.projects__body {
  padding-top: 75px;
}

.projects__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 40px 20px;
}

.content-projects__item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}

.content-projects__img {
  display: block;
  padding-bottom: 65%;
}

.content-projects__body {
  padding: 25px 0px;
}

.content-projects__title {
  padding-bottom: 10px;
}

.content-projects__text {
  margin-bottom: 40px;
}

.content-projects__link {
  display: inline-block;
}

.content-projects__link:hover::after {
  width: 100%;
}

.red {
  color: #e34c26;
}

.crimson {
  color: #c6538c;
}

.yellow {
  color: #bfae24;
}

.title {
  margin-bottom: 40px;
  font-size: 17px;
  line-height: 1.4705882353;
  text-transform: uppercase;
}

.active-link {
  border-bottom: 3px solid #4285B4;
}

.footer {
  background-color: #4285B4;
  padding: 50px 0px;
  color: #ffffff;
  font-size: 16px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__column {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.footer__column:not(:last-child) {
  padding-bottom: 40px;
  padding-right: 20px;
}

.footer__body-logo {
  text-transform: uppercase;
}

.footer__body-link:hover {
  text-decoration: underline;
}

.column-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-footer__link:hover {
  text-decoration: underline;
}

.column-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-footer__contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 280px;
  flex: 1 1 280px;
}

.go-top {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(66, 133, 180, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  right: 5%;
  bottom: 40%;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-animation: goTop 3s infinite linear;
  animation: goTop 3s infinite linear;
  overflow: hidden;
  display: none;
}

.go-top:hover {
  -webkit-animation: none;
  animation: none;
  bottom: 40%;
  background-color: #4285B4;
}

.go-top:hover .svg__arrow {
  fill: #ffffff;
}

.go-top--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes goTop {
  0% {
    bottom: 40%;
  }

  50% {
    bottom: 35%;
  }

  100% {
    bottom: 40%;
  }
}

@keyframes goTop {
  0% {
    bottom: 40%;
  }

  50% {
    bottom: 35%;
  }

  100% {
    bottom: 40%;
  }
}

.svg__arrow {
  width: 50px;
  height: 50px;
  fill: #4285B4;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: fill 0.5s ease 0s;
  -o-transition: fill 0.5s ease 0s;
  transition: fill 0.5s ease 0s;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 75px 15px;
}

.about__column {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}

.about__column:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.about__column:not(:last-child) {
  padding-right: 30px;
}

.about__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 65%;
}
.about__text {
  line-height: 1.5;
}
.contacts-page {
  padding: 75px 15px;
}

.contacts-page__title {
  margin-bottom: 40px;
}

.contacts-page__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 400px;
}

.contacts-page__text {
  height: 150px;
}

.contacts-page input,
.contacts-page textarea {
  background-color: transparent;
  border: 3px solid rgba(66, 133, 180, 0.3);
  padding: 10px;
  color: #000000;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: -10px;
  -webkit-box-shadow: 5px 5px 5px rgba(66, 133, 180, 0.3);
  box-shadow: 5px 5px 5px rgba(66, 133, 180, 0.3);
  outline: none;
}

.contacts-page input:focus,
.contacts-page textarea:focus {
  border: 3px solid #4285B4;
}

@media (max-width: 991.98px) {
  .footer__column:nth-child(2) {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about__column:not(:last-child) {
    padding-right: 0px;
  }

  .about__column {
    padding-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  .menu-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 36px;
    padding-top: 70px;
  }

  .menu-header__item:not(:last-child) {
    padding: 0;
  }

  .icon-menu {
    display: block;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #4285B4;
    padding: 100px 15px 50px 15px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    color: #ffffff;
    z-index: 4;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    left: -100%;
    top: 0;
    background-color: #4285B4;
    z-index: 2;
  }

  .menu__body.active {
    left: 0;
  }

  .menu__body.active::before {
    left: 0;
  }

  .menu {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .projects__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .content-projects__item {
    min-width: 100%;
  }

  .footer__column {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer__column:nth-child(2) {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media (max-width: 479.98px) {
  .column-footer__link {
    font-size: 14px;
  }
}
